@font-face {
  font-family: 'Open Sans';
  src: url("/assets/font/OpenSans-Regular.ttf");
}

body {
  font-family: 'iranyekan', 'Open Sans';
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.node {
  fill: #000;
  cursor: crosshair;
}

.node_selected {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}

.drag_line {
  stroke: #999;
  stroke-width: 5;
  pointer-events: none;
}

.drag_line_hidden {
  stroke: #999;
  stroke-width: 0;
  pointer-events: none;
}

.link {
  stroke: #999;
  stroke-width: 5;
  cursor: crosshair;
}

.link_selected {
  stroke: #ff7f0e;
}

.butterfly {
  fill: greenyellow !important;
  stroke: green !important;
}

.butterfly.node_selected {
  fill: green !important;
}

.spider {
  fill: red !important;
  stroke: red !important;
}

.spider.node_selected {
  fill: pink !important;
}

.choose-mode {
  position: absolute;
  left: 10px;
  top: 10px;
}

.start-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.start-button button {
  border: none;
  background: rgb(56, 56, 161);
  border-radius: 5px;
  padding: 10px;
  color: white;
  transition: 0.3s;
}

.start-button button:hover {
  background-color: rgb(47, 130, 255);
  cursor: pointer;
}

#input-file {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node-index {
  position: absolute;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 10px;
}

/* Toast */

.toast-box {
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse wrap;
  flex-flow: column-reverse wrap;
  max-height: 600px;
  overflow: hidden;
}

.toast {
  max-height: 50px;
  width: auto;
  padding: 10px 15px;
  background-color: #44bd32;
  color: white;
  border-radius: 5px;
  opacity: 0;
  margin: 5px 10px;
  border: 1px solid #185a9d;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.toast:first-child {
  margin-bottom: 20px !important;
}

.red {
  background: #e74c3c;
  color: white;
}

.green {
  background-color: #44bd32;
}